<h1>Wyszukiwarka VOD</h1>

<%= link_to 'Chili TV', "https://pl.chili.tv/cinema/search/#{@movie_to_find.sub('+', ' ')}", target: '_blank' %><br>
<%= link_to 'Cineman', "http://www.cineman.pl/filmy?SearchQuery=#{@movie_to_find}&IsSearching=szukaj", target: '_blank' %><br>
<%= link_to 'MMTV', "https://www.mmtv.pl/FrontOffice/VodIndex.go?token=#{@movie_to_find}", target: '_blank' %><br>
<%= link_to 'Player VOD', "http://player.pl/wyszukiwarka.html?s=#{@movie_to_find}", target: '_blank' %><br>
<%= link_to 'Sala Kinowa Premium', "https://www.youtube.com/user/FILMowisko1/search?query=#{@movie_to_find}", target: '_blank' %><br>
<%= link_to 'Strefa VOD', "http://www.strefavod.pl/szukaj?SearchQuery=#{@movie_to_find}", target: '_blank' %><br>
<%= link_to 'Orange', "http://www.orange.pl/telewizja-tu-i-tam/wyniki-wyszukiwania?_dyncharset=UTF-8&_dynSessConf=1121990517039135327&catId=8468634&%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.searchPhrase=#{@movie_to_find}&_D%3A%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.searchPhrase=+&%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.search.x=14&%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.search.y=5&%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.search=szukaj&_D%3A%2Fptk%2Fmap%2Fvod%2Fvodpc%2Fformhandlers%2FVoDSearchFormhandler.search=+&_DARGS=%2Fgear%2Fvod-pc%2Fsearch%2Fsearch_vod_long.jsp.vod-search-form", target: '_blank' %><br>
<%= link_to 'VOD.pl', "http://vod.pl/filmy#search/0/0/0/score/filmy/#{@movie_to_find}", target: '_blank' %><br>

<h3><- <%= link_to 'Search for another movie', controller: :searches, action: :new %></h3>